.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.signupbtn {
    float: left;
    width: 100%;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.container9 {
    padding: 16px;
    margin-left: 300px;
    margin-right: 300px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    margin-left: 400px;
}

.p {
    margin-left: 250px;
}

.anh {
    float: left;
    margin-left: 300px;
    width: 30%;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.img {
    margin-left: 300px;
}

.ban {
    margin-right: 800px;
    margin-left: 200px
}

@media screen and (max-width: 800px){
    form{
        margin-top: 70px;
        width: 100%;
        height: auto;
      }
      .container9{
        width: 100%;
        height: auto;
        margin: 0;
      }
      label{
        width: 100%;
        height: auto;
        margin: 0;
      }
      
      input{
        width:200px ;
        height: 50px;
      }

      .p{
        margin: 0;
        text-align: center;
      }

      .anh{
        margin: 0 35%;
        text-align: center;
        align-items: center;
        justify-content: center;
    
      }
}